* {
  font-style: sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.timer {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 10px;
  border: grey;
}

.highscores {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 10px;
  outline: grey;
}

#start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px grey;
}
