* {
  font-style: sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.timer {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 10px;
  border: 1px solid grey;
}

.highscores {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 10px;
  border: 1px solid grey;
}

.highscores:hover {
  background-color: hotpink;
  box-shadow: 5px 5px 15px 0 grey;
}

#startcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
